// TODO: Split up + namespace

template(name="navbar")
    // Navigation
    .navbar-fixed
        nav#nav_f.amber(role='navigation')
            .container
                .nav-wrapper
                    a#logo-container.brand-logo.black-text(href='#top') YELLOW DANGER BREWERY
                    a.button-collapse(href='#', data-activates='nav-mobile')
                        i.mdi-navigation-menu

                    if currentUser
                        ul#sign-out
                            li
                                +account

                    ul#nav-mobile.side-nav
                        +nav_items_side
                    ul#nav-upper.hide-on-med-and-down.right
                        +nav_items

//
template(name="account")
    ul#account-dropdown.dropdown-content
        li
            a#sign-out Logga ut
    // Dropdown Trigger
    li
        a.dropdown-button(href='#!', data-activates='account-dropdown')
            i.mdi-action-settings


//
template(name="nav_items_side")
    +nav_items

//
template(name="nav_items")
    each navbar
        if currentUser
            if Session 'editingNavbar'
                +form_navbar
            else
                +edit_navbar
        else
            li.cantarell
                a(href='##{intro.link}')= intro.text
            li.cantarell
                a(href='##{work.link}')= work.text
            li.cantarell
                a(href='##{team.link}')= team.text
            li.cantarell
                a(href='##{contact.link}')= contact.text


//
template(name="edit_navbar")
    li.cantarell
        a.edit(href="#" name="intro")= intro.text
    li.cantarell
        a.edit(href="#" name="work")= work.text
    li.cantarell
        a.edit(href="#" name="team")= team.text
    li.cantarell
        a.edit(href="#" name="contact")= contact.text

//
template(name="form_navbar")
    +InputHelper(attribute=affectedProperty document=this collection="navbar" class='form-control')
