// TODO: Split up + namespace

template(name="navbar")
    // Navigation
    .navbar-fixed
        nav#nav_f.amber(role='navigation')
            .container
                .nav-wrapper
                    a#logo-container.brand-logo.black-text(href='#top') YELLOW DANGER BREWERY
                    a.button-collapse(href='#', data-activates='nav-mobile')
                        i.mdi-navigation-menu

                    if currentUser
                        ul#sign-out
                            li
                                +account

                    ul#nav-mobile.side-nav
                        +nav_items_side
                    ul#nav-upper.hide-on-med-and-down.right
                        +nav_container

//
template(name="account")
    ul#account-dropdown.dropdown-content
        li
            a#sign-out Logga ut
    // Dropdown Trigger
    li
        a.dropdown-button(href='#!', data-activates='account-dropdown')
            i.mdi-action-settings



//
template(name="nav_container")
    each navbar
        if Session 'editingNavbar'
            if currentUser
                +InputHelper(attribute=affectedProperty document=this collection="navbar"
                class='form-control' id=this)

            else
                +nav_items
        else
            +nav_items

//
template(name="nav_items_side")
    each navbar
        +nav_items


//
template(name="nav_items")
    li.cantarell
        a(href='#{{#unless currentUser}}{{intro.link}}{{/unless}}'
        name="intro" class="{{#if currentUser}}edit{{/if}}")= intro.text

    li.cantarell
        a(href='#{{#unless currentUser}}{{work.link}}{{/unless}}'
        name="work" class="{{#if currentUser}}edit{{/if}}")= work.text

    li.cantarell
        a(href='#{{#unless currentUser}}{{team.link}}{{/unless}}'
        name="team" class="{{#if currentUser}}edit{{/if}}")= team.text

    li.cantarell
        a(href='#{{#unless currentUser}}{{contact.link}}{{/unless}}'
        name="contact" class="{{#if currentUser}}edit{{/if}}")= contact.text
