template(name="team")
    #team.section.scrollspy
        .container
            h2.header.amber.center
                each team
                    +team_top

            .row
                ul.scrollfire.persons.cantarell
                    each team
                        if title
                            +team_bottom

    +team_creator

// TODO: Generalize somehow
template(name="team_top")
    if Session 'editingTeamTitle'
        if currentUser
            +InputHelper(attribute="teamTitle" document=this collection="team"
            class='form-control' placeholder=teamTitle id=this)
        else
            +team_title
    else
        +team_title

//
template(name="team_title")
    if teamTitle
        b(name="teamTitle" class="{{#if currentUser}}edit{{/if}}")
            i
                | !{ teamTitle }
        +team_action_button

//
template(name="team_bottom")
    li
        .col.s12.m3
            .card.card-avatar
                +team_remove_button
                +team_img_container

                .card-content
                    span.card-title.activator.grey-text.text-darken-4
                        +team_name_container
                        +team_jobtitle_container

//
template(name="team_img_container")
    if Session 'editingTeamImg' eq=_id
        if currentUser
            +InputHelper(attribute="img" document=this collection="team"
            class='form-control' placeholder=img id=this)
        else
            +team_img
    else
        +team_img

//
template(name="team_img")
    .waves-effect.waves-block.waves-light(name="img" class="{{#if currentUser}}edit{{/if}}")
        if img
            img.activator(src='#{img}')
        else
            img.activator(src='img/avatar1.png}')

//
template(name="team_name_container")
    if Session 'editingTeamName' eq=_id
        if currentUser
            +InputHelper(attribute="name" document=this collection="team"
            class='form-control' placeholder=name id=this)
        else
            +team_name
    else
        +team_name

//
template(name="team_name")
    div(name="name" class="{{#if currentUser}}edit{{/if}}")
        | !{ name }

//
template(name="team_action_button")
    if currentUser
        a.btn-floating.btn-large.btn-edit.waves-effect.waves-light.green.right.modal-trigger(href='#team-creator')
            i.mdi-content-add Add
//
template(name="team_remove_button")
    if currentUser
        i.remove-team.mdi-action-highlight-remove.left

//
template(name="team_jobtitle_container")
    if Session 'editingTeamPosition' eq=_id
        if currentUser
            +InputHelper(attribute="title" document=this collection="team"
            class='form-control' placeholder=title id=this)
        else
            +team_jobtitle
    else
        +team_jobtitle
//
template(name="team_jobtitle")
    small(name="title" class="{{#if currentUser}}edit{{/if}}")
        em
            a.orange-text.text-darken-1(href='#')
                | !{ title }