template(name="intro")
   #intro.section.scrollspy
      .container
         .row
            .col.s12
               each intro
                  if currentUser
                     if Session 'editingIntroTitle'
                        +form_intro_title
                     else
                        +edit_intro_title
                  else
                     +intro_title


            ul.scrollfire.icons
               each intro
                  li
                     .col.s12.m4.l4
                        .center.promo.cantarell
                           i.amber-text(class="#{icon}")
                           .icon-text-area(id="#{_id}")
                              +markdown
                                 #{mdText}

//
template(name="edit_intro_title")
   if mdTitle
      h2.center.intro-text.edit(name="mdTitle")
         +markdown
            #{mdTitle}

//
template(name="form_intro_title")
   +InputHelper(attribute="mdTitle" document=this collection="intro" class='form-control' placeholder=mdTitle)

//
template(name="intro_title")
   if mdTitle
      h2.center.intro-text
         +markdown
            #{mdTitle}

