template(name="intro")
   #intro.section.scrollspy
      .container
         .row
            .col.s12
               each intro
                  +intro_top

            ul.scrollfire.icons
               each intro
                  +intro_bottom


//
template(name="intro_top")
   if Session 'editingIntroTitle'
      if currentUser
         +InputHelper(attribute="mdTitle" document=this collection="intro"
         class='form-control' placeholder=mdTitle id=this)
      else
         +intro_title
   else
      +intro_title

//
template(name="intro_title")
   if mdTitle
      h2.center.intro-text(name="mdTitle" class="{{#if currentUser}}edit{{/if}}")
         +markdown
            #{mdTitle}


//
template(name="intro_bottom")
   li
      .col.s12.m4.l4
         .center.promo.cantarell
            +intro_icon_container
            +intro_text_container


//
template(name="intro_text_container")
   if Session 'editingIntroText' eq=_id
      if currentUser
         +InputHelper(attribute="mdText" document=this collection="intro"
         class='form-control' placeholder=mdText id=this)
      else
         +intro_text
   else
      +intro_text

template(name="intro_text")
   .icon-text-area(name="mdText" class="{{#if currentUser}}edit{{/if}}")
      +markdown
         #{mdText}

//
template(name="intro_icon_container")
   if Session 'editingIntroIcon' eq=_id
      if currentUser
         +InputHelper(attribute="icon" document=this collection="intro"
         class='form-control' placeholder=icon id=this)
      else
         +intro_icon
   else
      +intro_icon

template(name="intro_icon")
   // TODO: What to do if editing an icon and it's wrongly spelled. It can be clicked because nothing will show
   if icon
      i.amber-text.intro-icon(class="#{icon} {{#if currentUser}}edit{{/if}}" name="icon")