template(name="work")
    #work.section.scrollspy
        .container
            h2.amber.center
                b
                    each work
                        +work_top

            .row
                ul.scrollfire.cards.cantarell
                    each work
                        if title
                            +work_bottom

//
template(name="work_top")
    if Session 'editingWorkTitle'
        if currentUser
            +InputHelper(attribute="workTitle" document=this collection="work"
            class='form-control' placeholder=teamTitle id=this)
        else
            +work_title
    else
        +work_title

//
template(name="work_title")
    if workTitle
        i(name="workTitle" class="{{#if currentUser}}edit{{/if}}")
            | !{ workTitle }

template(name="work_bottom")
    li
        .col.s12.m4.l4
            .card
                +work_img_container

                .card-content
                    span.card-title.activator.grey-text.text-darken-4
                        | !{ title }
                        i.mdi-navigation-more-vert.right

                .card-reveal
                    +work_name_container

                    p
                        +work_text_container

//
template(name="work_img_container")
    if Session 'editingWorkImg' eq=_id
        if currentUser
            +InputHelper(attribute="img" document=this collection="work"
            class='form-control' placeholder=img id=this)
        else
            +work_img
    else
        +work_img

//
template(name="work_img")
    .card-image.waves-effect.waves-block.waves-light.img-product
        img.activator(src='#{img}')

//
template(name="work_name_container")
    if Session 'editingWorkName' eq=_id
        if currentUser
            +InputHelper(attribute="title" document=this collection="team"
            class='form-control' placeholder=title id=this)
        else
            +work_name
    else
        +work_name

//
template(name="work_name")
    span.card-title.grey-text.text-darken-4(name="title" class="{{#if currentUser}}edit{{/if}}")
        | !{ title }
        i.mdi-navigation-close.right

template(name="work_text_container")
    if Session 'editingWorkText' eq=_id
        if currentUser
            +InputHelper(attribute="text" document=this collection="team"
            class='form-control' placeholder=text id=this)
        else
            +work_text
    else
        +work_text

//
template(name="work_text")
    div(name="text" class="{{#if currentUser}}edit{{/if}}")
        | !{ text }